/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #e0e6ed;
    border-bottom: 1px solid #d0d7de;
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.logo img {
    margin-right: 0px; /* Adjust the spacing between the image and the text */
    width: 30px; /* Adjust the size of the image as needed */
    height: auto;
}

.logo i {
    margin-right: 5px; /* Adjust the spacing between the icon and the text */
}

  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  

  nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav ul li a img {
    margin-left: 5px; /* Adjust the spacing between the text and the image */
    width: 20px; /* Adjust the size of the image as needed */
    height: auto;
}
  